nav {
    background-color: rgb(6, 13, 71)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar__main {
    font-size: 35px;
}

.nav__item {
    font-size: 25px;
}